<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	 version="3.0"
	 metadata-complete="true">
    <display-name>Task3</display-name>
    <welcome-file-list>
	<welcome-file>
	    index.jspx
	</welcome-file>
    </welcome-file-list>   
    <servlet>
	<servlet-name>Controller</servlet-name>
	<servlet-class>controller.Controller</servlet-class>
    </servlet>
    <servlet>
	<servlet-name>Upload</servlet-name>
	<servlet-class>controller.UploadServlet</servlet-class>
	<init-param>
	    <param-name>uploadFilesPath</param-name>
	    <param-value>upload</param-value>
	</init-param>
    </servlet>
    <servlet-mapping>
	<servlet-name>Controller</servlet-name>
	<url-pattern>/controller</url-pattern>
    </servlet-mapping> 
    <servlet-mapping>
	<servlet-name>Upload</servlet-name>
	<url-pattern>/upload</url-pattern>
    </servlet-mapping> 
    <error-page>
	<error-code>404</error-code>
	<location>/jsp/error.jspx</location>
    </error-page>
    <error-page>
	<exception-type>java.lang.RuntimeException</exception-type>
	<location>/jsp/error.jspx</location>
    </error-page>
</web-app>